/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */
header {
    text-align: center;
    padding: 20px 0;
    background-color: #3498db;
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
}

/* Button to open Modal */
button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #2980b9;
}

/* Modal content */
.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Đảm bảo modal có chiều rộng cố định */
    max-height: 80vh; /* Đảm bảo modal không vượt quá 80% chiều cao của cửa sổ */
    overflow-y: auto; /* Bật cuộn dọc khi nội dung vượt quá chiều cao */
}

/* Modal background */
.modal {
    display: none; /* Ban đầu ẩn modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Cho phép cuộn nếu cửa sổ modal quá lớn */
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền bán trong suốt */
    padding-top: 10px; /* Khoảng cách từ trên cùng */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}
/* Các trường input, textarea sẽ có chiều rộng 100% và padding đều */
input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: #3498db;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

.contact-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #2980b9;
}

footer {

    background-color: #333;
    text-align: center;
    padding: 10px;
}
footer p {
    font-size: 14px;
}
